//Breakpoints
$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

//Colors
$primary: #2196F3;
$secondary: #9C27B0;
$errorMain: #D32F2F;
$warningMain: #EF6C00;
$infoMain: #0288D1;
$success: #2E7D32;
$grey: #E0E0E0;
$avatarGrey: #BDBDBD;


